body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

nav {
  padding: 20px 0 20px 0;
}

.container-fluid {
  padding-top: 2px;
  padding-left: 200px;
  padding-right: 200px;
  padding-bottom: 20px;
  background-color: #eee;
}
